<app-menu></app-menu>
<router-outlet>
  <div class="grid mt-20 w-full md:mt-38 justify-center p-6">
    <h1 class="text-3xl font-bold my-6">Buttons</h1>
    <div
      class="flex flex-col gap-y-6 p-10 rounded-3xl border-indigo-200 dark:border-indigo-900 dark:border-opacity-25 border">
      <nxt-button borderRadius="rounded-full">Filled variant</nxt-button>
      <nxt-button borderRadius="rounded-full">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="size-5">
          <path
            d="M8.75 3.75a.75.75 0 0 0-1.5 0v3.5h-3.5a.75.75 0 0 0 0 1.5h3.5v3.5a.75.75 0 0 0 1.5 0v-3.5h3.5a.75.75 0 0 0 0-1.5h-3.5v-3.5Z" />
        </svg>
        Filled with icon
      </nxt-button>
      <nxt-button variant="outlined" borderRadius="rounded-full">Outlined variant</nxt-button>
      <nxt-button variant="outlined" borderRadius="rounded-full">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 16" fill="currentColor" class="size-5">
          <path
            d="M8.75 3.75a.75.75 0 0 0-1.5 0v3.5h-3.5a.75.75 0 0 0 0 1.5h3.5v3.5a.75.75 0 0 0 1.5 0v-3.5h3.5a.75.75 0 0 0 0-1.5h-3.5v-3.5Z" />
        </svg>
        Outlined with icon
      </nxt-button>
      <nxt-button variant="text">Text variant</nxt-button>
      <nxt-button variant="text">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
          class="size-5">
          <path stroke-linecap="round" stroke-linejoin="round"
            d="M12 9v3.75m9-.75a9 9 0 1 1-18 0 9 9 0 0 1 18 0Zm-9 3.75h.008v.008H12v-.008Z" />
        </svg>
        Text with icon
      </nxt-button>
      <nxt-segmented-button></nxt-segmented-button>
    </div>
    <h1 class="text-3xl font-bold my-6">Customized Buttons</h1>
    <div
      class="flex flex-col gap-y-6 p-10 rounded-3xl border-indigo-200 dark:border-indigo-900 dark:border-opacity-25 border">
      <nxt-button borderRadius="rounded-full" shadow="shadow-lg" fontWeight="font-bold"
        className="bg-gradient-to-r from-green-600 to-indigo-800 hover:from-pink-500 hover:to-yellow-500 min-[320px]:w-[235px] min-[375px]:w-[290px] min-[425px]:w-[340px]">
        Filled variant
      </nxt-button>
    </div>
    <h1 class="text-3xl font-bold my-6">Icons</h1>
    <div
      class="flex flex-col gap-y-6 p-10 rounded-3xl border-indigo-200 dark:border-indigo-900 dark:border-opacity-25 border">
      <nxt-icon>
        <img src="assets/images/logos/logo-dark.svg" class="h-[24px]" alt="" srcset="">
      </nxt-icon>
      <nxt-icon variant="contained">My icon</nxt-icon>
    </div>
  </div>
</router-outlet>